*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-width: 300px;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

.container {
    width: 300px;
    padding: 10px;
    margin-inline: auto;
}

label,
input,
button {
    cursor: pointer;
}

.btn:active {
    transform: scale(0.95);
}

/* header */

header {
    background-color: #67595E;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 0;
}

.pumpkin-img {
    width: 80px;
}

.title {
    font-size: 16px;
    color: #EED6D3;
}

.big-title {
    font-size: 26px;
}

/* main */

main {
    padding-block: 15px;
}

/* emotion-radios */

.emotion-radios {
    width: 200px;
    margin: 15px auto;
}

.radio {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border: 1px solid #bcbcbc;
    border-bottom: 0;
    padding: 4px 8px;
}

.radio:first-child {
    border-radius: 5px 5px 0 0;
}

.radio:last-child {
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #bcbcbc;
}

.radio:hover {
    background-color: #fff0ee;
}

.radio.highlight {
    background-color: #fff0ee;
    color: #bd301d;
    font-weight: bold;
    accent-color: #bd301d;
}

/* gifs-check-label */

.gifs-check-label {
    display: flex;
    justify-content: center;
    font-size: 14px;
    gap: 10px;
    margin-bottom: 15px;
}

/* get-image-btn */

.get-image-btn {
    background-color: #67595e;
    color: #eed6d3;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
}

.get-image-btn:hover {
    background-color: #574c50;
}

/* modal */

.modal {
    top: 120px;
    background-color: inherit;
    border: none;
    margin-inline: auto;
}

.modal-container {
    width: 280px;
    text-align: right;
    background-color: #fff0ee;
    border: 1px solid #67595e;
    border-radius: 5px;
    padding: 10px;
}

.modal-close-btn {
    background-color: transparent;
    font-size: 14px;
    color: #555;
    border: 2px solid #555;
    border-radius: 50%;
    padding: 2px 6px;
}

.modal-close-btn:hover {
    background-color: #bd301d;
    border-color: #bd301d;
    color: white;
}

.cat-img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}
